<p>コメント投稿</p>

<% if book_comment.errors.any? %>
  <h3>コメントを入れてください</h3><!--エラーメッセ-->
  <ul>
    <% book_comment.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<%= form_with(model: [book, book_comment], remote: true ) do |f| %>
  <%= f.text_area :comment, class: "col-xs-10" %><br>
  <%= f.submit "送信", class: "btn btn-primary col-xs-1" %>
<% end %>
